{% extends "frappe/templates/web.html" %}
{% block style %}
	<!-- Material Design fonts -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" type="text/css" href="/assets/webover/css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="/assets/webover/css/ripples.min.css">

	<!-- Dropdown.js -->
	<link href="/assets/webover/css/jquery.dropdown.min.css" rel="stylesheet">
{% endblock %}
